.list {
  display: grid;
  margin-top: 56px;
  grid-template-columns: repeat(4, 276px);
  row-gap: 48px;
  gap: 32px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.loadMoreButton {
  margin-bottom: 124px;
  margin-top: 80px;
  border: 1px solid var(--button);
  border-radius: 12px;
  width: 156px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  background-color: white;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  border: 1px solid var(--button-hover);
}
